{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/8f2896ff74.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "css/style.css" %}">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="{% static "js/script.js" %}"></script>
<title>Los Hermanos Del Código</title>